<header class="mb-3">Search results</header>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-3 col-lg-4 image-container" *ngFor="let item of data; index as i" (click)="openModal(i)">
      <img src="{{item.urls.thumb}}" alt="{{i}}">
      <span class="overlay"></span>
    </div>
  </div>
</div>

<div id="lightboxModal" class="modal">
  <span class="close" (click)="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="lightbox-slides" *ngFor="let item of data">
      <img src="{{item.urls.regular}}">
    </div>

    <a class="prev" (click)="slideToPrev()">&#10094;</a>
    <a class="next" (click)="slideToNext()">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>
  </div>