$modal-background-color: #000;

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

header {
    text-align: center;
    font-size: 27px;
    color: #919191;
}

.image-container {
    cursor: pointer;
    position: relative;
    height: 10vh;
    overflow: hidden;
    margin-bottom: 30px;

    img {
        width: 100%;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
        background-color: black;
        opacity: 0;
        @include transition(opacity .3s ease-in-out);
    }

    &:hover .overlay {
        opacity: .4;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $modal-background-color;

    .close {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
        color: #FFF;
        @include transition(opacity .3s ease-in-out);

        &:hover {
            text-decoration: none;
            opacity: 1;
        }
    }

    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;

        .lightbox-slides {
            display: none;
            height: 70vh;
            width: 100%;
            text-align: center;
            background-color: black;

            img {
                height: 100%;
            }
        }

        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            opacity: .5;
            padding: 16px;
            margin-top: -50px;
            font-weight: bold;
            font-size: 20px;
            color: #FFF;
            user-select: none;
            -webkit-user-select: none;
            @include transition(opacity .3s ease-in-out);

            &:hover {
                opacity: 1;
            }
        }

        .next {
            right: 0;
        }

        .caption-container {
            text-align: center;
            background-color: black;
            padding: 2px 16px;
            color: white;
        }
      }
  }