<header>Search results</header>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-3" *ngFor="let item of data; index as i">
      <img src="{{item.urls.thumb}}" alt="{{i}}" (click)="openModal(i)" class="hover-shadow">
    </div>
  </div>
</div>

<div id="lightboxModal" class="modal">
  <span class="close cursor" (click)="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="lightbox-slides" *ngFor="let item of data">
      <img src="{{item.urls.regular}}">
    </div>

    <a class="prev" (click)="slideToPrev()">&#10094;</a>
    <a class="next" (click)="slideToNext()">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>
  </div>